{{!-- Materalize Navbar --}}
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center">Washington Post Main Headlines</a>
    <ul class="left hide-on-med-and-down">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/articles">All Articles</a></li>
      <li><a href="/saved">Saved</a></li>
      {{!-- Button to clear articles in saved db. --}}
      <li><a class="btn" href="/clear">CLEAR</a></li>
    </ul>
  </div>
  <div>
    {{#each savedArticles}}
    <div class="divider"></div>
    <h4 class="title">
      <i class="material-icons">fiber_new</i>
      <span class="col-s6">{{this.title}}</span>
    </h4>
    Click <a href="{{this.link}}" class="link">here</a> to read more! or <a href="/note/{{this.id}}">Add a note!</a>
    <div class="divider"></div>
    {{/each}}
  </div>
</nav>